/* Document styles */

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

p {
    margin-bottom: 0;
}

/* Header styles */

.navbar {
    background-color: #2C4251;
}

.navbar-brand.h1 {
    color: #FF784F;
}

.navbar-brand {
    color: white;
}

.jumbotron-fluid {
    background-color: #fafafa;
    padding: 2rem;
}

/* Timeslot styles */

.row {
    height: 50px;
}

.time {
    background-color: #2C4251;
    padding: 15px 5px;
    text-align: center;
    margin: auto;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: white;
}

.event {
    background-color: #fafafa;
    padding: 15px 5px;
    text-align: left;
    margin: auto;
}

/* background-color: #2C4251;
color: white;
border-right: 3px solid white; */


/* background-color: #ebebeb; */


.save {
    background-color: #FF784F;
    padding: 15px 5px;
    text-align: center;
    margin: auto;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.save:hover {
    background-color: #d46442;
}

.save .locked {
    display: inline-block;
}

.save .open {
    display: none;
}

.save:hover .locked {
    display: none;
}

.save:hover .open {
    display: inline-block;
}

/* Footer styles */

.alert-primary {
    background-color: #2C4251;
    color: white;
    border-radius: 0%;
    border-color: #2C4251;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 0px;
    height: 30px;
    width: 100%;
    opacity: 0.6;
}